%icon-block {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0.65rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

%icon {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
}
