.navigation--editor--new-items {
  .navigation--editor--add-button {
    appearance: none;
    background: unset;
    border: unset;
    color: unset;
    cursor: pointer;
    display: block;
    font-weight: unset;
    min-height: var(--row-height);
    padding-inline: 1rem;
    text-align: left;
    width: 100%;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  .navigation--editor--inline-add {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    z-index: 1;

    &::before {
      background-color: var(--icon-active-color);
      content: "";
      display: block;
      margin-top: -1px;
      height: 2px;
    }

    button {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0;
      padding: 0.25rem;

      animation: navigation--editor--pulse 200ms ease;
      appearance: none;
      border: none;
      background-color: var(--icon-active-color);
      border-radius: 0.125rem;
      color: white;
      cursor: pointer;
      text-align: center;
      transform: translate(-0.75rem, -0.75rem) scale(1);

      &::before {
        content: "";
        display: block;
        min-height: 1rem;
        min-width: 1rem;
        -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMTBoLTEwdi0xMGgtNHYxMGgtMTB2NGgxMHYxMGg0di0xMGgxMHoiLz48L3N2Zz4=")
          center/contain;
        mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMTBoLTEwdi0xMGgtNHYxMGgtMTB2NGgxMHYxMGg0di0xMGgxMHoiLz48L3N2Zz4=")
          center/contain;
        background-color: white;
      }
    }

    &[hidden] button {
      transform: translate(-0.75rem, -0.75rem) scale(0);
    }
  }

  dialog {
    width: 80%;
    max-width: min(100svw, 36rem);
    container-type: inline-size;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  [role="list"] {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      clamp(6rem, calc(25cqw - 0.5rem), 8rem)
    );
    grid-auto-rows: minmax(6rem, auto);
    gap: 0.5rem;
    padding-inline-start: 0;
  }

  [role="listitem"] {
    border-radius: 0.5rem;
    background: unset;
    color: inherit;
    padding: 0.5rem;

    font-weight: 400;
    font-size: 0.8rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;

    &::before {
      content: "";
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 2rem;
      height: 2rem;
      margin-inline: auto;
      margin-block-end: 0.25rem;
    }

    &[data-item-type="heading"]::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3Etext %7B font: 72px serif %7D%3C/style%3E%3Ctext x='7' y='56' textLength='48'%3EH%3C/text%3E%3C/svg%3E%0A");
    }

    &[data-item-type="link"]::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_67_1273)'%3E%3Cpath d='M16 22H32V26H16V22ZM40.2 24H44C44 18.48 39.52 14 34 14H26V17.8H34C37.42 17.8 40.2 20.58 40.2 24ZM7.8 24C7.8 20.58 10.58 17.8 14 17.8H22V14H14C8.48 14 4 18.48 4 24C4 29.52 8.48 34 14 34H22V30.2H14C10.58 30.2 7.8 27.42 7.8 24ZM38 24H34V30H28V34H34V40H38V34H44V30H38V24Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_67_1273'%3E%3Crect width='48' height='48' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &[data-item-type="button"]::before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_67_1276)'%3E%3Cpath d='M44 18V30C44 32.2 42.2 34 40 34H38V30H40V18H8V30H20V34H8C5.8 34 4 32.2 4 30V18C4 15.8 5.8 14 8 14H40C42.2 14 44 15.8 44 18ZM29 38L31.18 33.18L36 31L31.18 28.82L29 24L26.82 28.82L22 31L26.82 33.18L29 38ZM34 28L35.24 25.24L38 24L35.24 22.76L34 20L32.76 22.76L30 24L32.76 25.24L34 28ZM29 38L31.18 33.18L36 31L31.18 28.82L29 24L26.82 28.82L22 31L26.82 33.18L29 38ZM34 28L35.24 25.24L38 24L35.24 22.76L34 20L32.76 22.76L30 24L32.76 25.24L34 28Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_67_1276'%3E%3Crect width='48' height='48' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}

@keyframes navigation--editor--pulse {
  0% {
    transform: translate(-0.75rem, -0.75rem) scale(0);
  }

  50% {
    transform: translate(-0.75rem, -0.75rem) scale(1.2);
  }

  100% {
    transform: translate(-0.75rem, -0.75rem) scale(1);
  }
}
