<% content_for :title, menu.title %>

<%= navigation_editor_status_bar menu: menu %>

<%= navigation_editor_menu menu: menu do |form| %>
  <div role="rowheader">
    <h4>Title</h4>
    <h4>Url</h4>
    <h4>Actions</h4>
  </div>

  <%= navigation_editor_list menu: menu %>
<% end %>

<%= render "katalyst/navigation/menus/new_items", menu: menu %>
