/.bundle/
/coverage/
/doc/
/log/*.log
/pkg/
/spec/dummy/app/assets/builds/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/tmp/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# yarn
app/assets/builds/
node_modules/
yarn-debug.log*
yarn-error.log*
