<div class="navigation--editor--new-items"
     data-controller="navigation--editor--new-items"
     data-action="turbo:before-morph-element->navigation--editor--new-items#morph">
  <button aria-controls="navigation--editor--new-items-dialog"
          class="button"
          data-action="click->navigation--editor--new-items#open"
          data-text-button>
    <icon aria-hidden="true" class="icon" data-icon="add">\A</icon>
    Add item
  </button>
  <div class="navigation--editor--inline-add" data-navigation--editor--new-items-target="inline" hidden>
    <%= tag.button(aria: { controls: "navigation--editor--new-items-dialog", label: "Add navigation here" },
                   data: { action: "navigation--editor--new-items#open" }) %>
  </div>
  <dialog id="navigation--editor--new-items-dialog" class="modal" data-action="click->navigation--editor--new-items#close">
    <article class="flow" data-action="click->navigation--editor--new-items#noop:stop">
      <header class="repel" data-nowrap>
        <h2>Add item</h2>
        <button class="button"
                data-action="click->navigation--editor--new-items#close"
                data-icon-button>
          <icon aria-hidden="true" class="icon" data-icon="close">\A</icon>
          <span class="visually-hidden">Close</span>
        </button>
      </header>
      <main>
        <%= tag.div(role: "list", data: { action: "click->navigation--editor--new-items#noop:stop" }) do %>
          <%= render Katalyst::Navigation::Editor::NewItemComponent.with_collection(items) %>
        <% end %>
      </main>
    </article>
  </dialog>
</div>
