<div class="navigation--editor--new-items"
     data-controller="navigation--editor--new-items"
     data-action="turbo:before-morph-element->navigation--editor--new-items#morph">
  <button aria-controls="navigation--editor--new-items-dialog"
          class="button"
          data-action="click->navigation--editor--new-items#open"
          data-button-padding="tight"
          data-text-button>
    <icon aria-hidden="true" class="icon" data-icon="add">&nbsp;</icon>
    Add item
  </button>
  <div class="navigation--editor--inline-add" data-navigation--editor--new-items-target="inline" hidden>
    <button aria-controls="navigation--editor--new-items-dialog"
            class="button"
            data-action="navigation--editor--new-items#open"
            data-button-padding="tight">
      <icon aria-hidden="true" class="icon" data-icon="add">&nbsp;</icon>
      <span class="visually-hidden">Add item here</span>
    </button>
  </div>
  <dialog id="navigation--editor--new-items-dialog"
          class="modal"
          data-action="click->navigation--editor--new-items#click">
    <article class="flow">
      <header class="repel" data-nowrap>
        <h2>Add item</h2>
        <button class="button"
                data-action="click->navigation--editor--new-items#close"
                data-button-padding="tight"
                data-text-button>
          <icon aria-hidden="true" class="icon" data-icon="close">&nbsp;</icon>
          <span class="visually-hidden">Close</span>
        </button>
      </header>
      <main>
        <ul role="list" class="items-list">
          <%= render Katalyst::Navigation::Editor::NewItemComponent.with_collection(items) %>
        </ul>
      </main>
    </article>
  </dialog>
</div>
